body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(17, 19, 19); */
}

code {
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

